/* stylelint-disable property-no-unknown */
:export {
  menubar-width: $menubar-width;
  navbar-height: $navbar-height;
  menu-background: $menu-background;
  menu-text: $menu-text;
  menu-active-text: $menu-active-text;
  menu-hover: $menu-hover;
}
/* stylelint-enable property-no-unknown */
